/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

/* Remove browser defaults */
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main, header {
    padding-right: 5em;
    padding-left: 5em;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid #ff0000; !* For debugging purposes *!*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
    }

    .header-container {text-align: center;}
}

/* Navigation Bar */
#nav-bar {
    float: right;
    display: inline-block;
    padding: 15px;
}

#nav-bar ul {
    list-style-type: none;
}

#nav-bar ul li {
    float: left;
}

#nav-bar ul li a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    color: #000000;
    padding: 1em;
}

#nav-bar ul li a:hover {
    background-color: #f0f8ff;
}

/* Button on top of image */
.imgButtonContainer, #resultsTableContainer {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.imgButtonContainer img {
    max-width: 70%;
    height: auto;
}

.imgButtonContainer button {
    position: absolute;
}

/* Button */
.imgButton {
    cursor: pointer;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0.2em 0.2em 0.5em;
    background: #ffffff;
    padding: 0.2em 0.5em;
    font-size: 1.5em;
    border: none;
}

.imgButton:hover {
    background-color: #f0f8ff;
    padding: 0.3em 0.6em;
}

/* Search bar */
#searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url('img/search-banner.jpg');
    background-repeat: no-repeat;
    background-position: center 75%;
}

#searchBar {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2em 0.2em 0.5em;
    background-color: #ffffff;
    padding: 0.5em;
}

#searchText {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 5em 0.5em 0.5em;
    border: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#searchDropdown {
    cursor: pointer;
    background: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    color: #484646;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: none;
}

#searchSubmit {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 0.5em;
}

#searchSubmit img {
    text-align: center;
    width: 100%;
    height: auto;
}

/* Title */
#title {
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/* Footer */
footer {
    background-color: #fafafa;
    font-family: 'Rubik', sans-serif;
    color: #505050;
    font-size: 0.75em;
}

/* IMPORTANT IMPORTANT BUG WHEN MAKE SMALLER NAV BAR DOESNT GO UNDER TITLE DUE TO THE STYLING IN 'header.php'