/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

/* Remove browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid #ff0000;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

main, header {
    margin-right: 5em;
    margin-left: 5em;
}

/* Navigation Bar */
#navBar {
    float: right;
}

#navBar ul {
    list-style-type: none;
}

#navBar ul li {
    float: left;
}

#navBar ul li a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    color: #000000;
    padding: 1em;
}

#navBar ul li a:hover {
    background-color: #f0f8ff;
}

/* Button on top of image */
.imgButtonContainer, #resultsTableContainer {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}
.imgButtonContainer img {
    max-width: 70%;
    height: auto;
}

.imgButtonContainer button {
    position: absolute;
}

/* Image Button */
.imgButton {
    cursor: pointer;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0.2em 0.2em 0.5em;
    background: #ffffff;
    padding: 0.2em 0.5em;
    font-size: 1.5em;
    border: none;
}

.imgButton a {
    text-decoration: none;
    color: #000000;
}

.imgButton:hover {
    background-color: #f0f8ff;
    padding: 0.3em 0.6em;
}

/* Search bar */
#searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url('img/search-banner.jpg');
    background-repeat: no-repeat;
    background-position: center 75%;
}

#searchBar {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2em 0.2em 0.5em;
    background-color: #ffffff;
    padding: 0.5em;
}

#searchText {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 5em 0.5em 0.5em;
    border: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#searchDropdown {
    cursor: pointer;
    background: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    color: #484646;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: none;
}

#searchSubmit {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 0.5em;
}

#searchSubmit img {
    text-align: center;
    width: 100%;
    height: auto;
}

/* Header */
#headerRow {
    display: flex;
    align-items: center;
}

#title {
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/* Results Table */
#resultsTable, #resultsTable th, #resultsTable td {
    /*border: 1px solid;*/
}

#resultsTable {
    font-family: 'Rubik', sans-serif;
    border-collapse: collapse;
    /* RETIRED */
}

#resultsTable th, #resultsTable td {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    text-align: center;

}

#resultsTable th {
    font-weight: 600;
    font-size: 1.2em;
}

#resultsTable td {
    vertical-align: center;
    height: 1.5em;
}

#resultsTable tr:hover {
    background-color: #f0f8ff;
}

#numResultsContainer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#numResults {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    padding: 1em;
}

/* Leaderboards */
#leaderboardTitleContainer {
    text-align: center;
}

#leaderboardTitleContainer h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardContainer {
    display: inline-block;
}

.leaderboard {
    font-family: 'Rubik', sans-serif;
    border-collapse: collapse;
    border: 0.2em solid #363636;
}

.leaderboard th, .leaderboard td {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

.leaderboard th {
    font-weight: 600;
    font-size: 1.2em;
}

.leaderboard td {
    vertical-align: center;
}

#leaderboard1 {
    font-weight: 700;
    color: #ffd700;
}

#leaderboard2 {
    font-weight: 600;
    color: #c0c0c0;
}

#leaderboard3 {
    font-weight: 500;
    color: #a05822;
}

/* Lists */
#listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listItem {
    font-family: 'Rubik', sans-serif;
    padding: 0.5em;
    width: 25%;
}

#alphabetContainer {
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.alphabetButton {
    border: none;
    background: none;
    font-family: 'Rubik', sans-serif;
    padding: 1em 1em 1em 1em;
    font-weight: 600;
    font-size: 1em;
}

#noResults {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 1em;
}

#topBorder {
    border-top: 1px solid #ddd;
}

.favouriteButton {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    padding: 0.5em;
    border: none;
}

.removeDriverButton {
    filter: grayscale(100%);
    background: none;
    border: none;
}

.removeDriverButton:hover {
    filter: grayscale(0%);
}

.removeDriverButton img {
    width: 2em;
    height: auto;
}

/* Footer */
footer {
    background-color: #fafafa;
    font-family: 'Rubik', sans-serif;
    color: #505050;
    font-size: 0.75em;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
    }

    main, header {margin: 0;}

    #headerRow {display: block;}

    #searchText {padding-right: 2em;}

    .title-container {text-align: center;}

    .listItem {width: 50%;}

    #navBarContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}